@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(230, 244, 249)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/poppins/Poppins-Regular.woff2');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/poppins/Poppins-Medium.woff2');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/poppins/Poppins-SemiBold.woff2');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/poppins/Poppins-Bold.woff2');
    font-weight: 700;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #e1e1e1;
  }

  input {
    font-family: 'Poppins';
    width: 100%;
    outline: none;
  }

  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
  }

  input[type="radio"]:checked {
    border: 6px solid #3A5E8A;
    outline: unset !important
  }

  .page {
    height: calc(100vh - 6rem);
  }
}